--extra-index-url https://download.pytorch.org/whl/cu121

decord==0.6.0
Flask==2.3.2
huggingface_hub==0.15.1
hydra-core==1.3.2
iopath==0.1.10
matplotlib==3.9.2
numpy==1.26.4
omegaconf==2.3.0
opencv-python==4.10.0.84
Pillow==10.4.0
pycocotools==2.0.8
pyzbar==0.1.9
torch==2.5.1+cu121
torchvision==0.20.1+cu121
tqdm==4.65.0
ultralytics==8.3.58
Werkzeug==2.3.4
